<div class="row">
		<h1>
			Select your configuration of sexuality and your Privacy
		</h1>
</div>
<div class="row">
	<div class="col-lg-6">
		<!-- Static Image -->
		<div class="box4"></div>
		<img src="dist/img/genderbread.jpg">
	</div>
	<div class="col-lg-6">
		<!-- Rating & Buttons Components of ui.bootstrap-->

<!--
			gerderbread_identity
			gerderbread_experssion
			gerderbread_asex
			gerderbread_attracted  
-->  
	<div uib-collapse="!message.show">
		<uib-alert type="{{message.type}}" close="hideMessage()">{{message.text}}</uib-alert>
	</div> 
	<form ng-submit="submit()">
		<h1>Identity</h1>
		<img src="dist/img/identity.jpg">
		<div><uib-rating ng-model="identity.value" max="7" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{identity.value}})</b></div>
		<div class="btn-group">
			<label class="btn btn-success" ng-model="identity.visibility" uib-btn-radio="'Private'" uncheckable>Private</label>
			<label class="btn btn-success" ng-model="identity.visibility" uib-btn-radio="'Protected'" uncheckable>Protected</label>
			<label class="btn btn-success" ng-model="identity.visibility" uib-btn-radio="'Public'" uncheckable>Public</label>
		</div>
		
		<h1>Expression</h1>
		<img src="dist/img/expression.jpg">
		<div><uib-rating ng-model="expression.value" max="7" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{expression.value}})</b></div>
		<div class="btn-group">
			<label class="btn btn-success" ng-model="expression.visibility" uib-btn-radio="'Private'" uncheckable>Private</label>
			<label class="btn btn-success" ng-model="expression.visibility" uib-btn-radio="'Protected'" uncheckable>Protected</label>
			<label class="btn btn-success" ng-model="expression.visibility" uib-btn-radio="'Public'" uncheckable>Public</label>
		</div>
		
		<h1>Asex</h1>
		<img src="dist/img/sex.jpg">
		<div><uib-rating ng-model="asex.value" max="7" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{asex.value}})</b></div>
		<div class="btn-group">
			<label class="btn btn-success" ng-model="asex.visibility" uib-btn-radio="'Private'" uncheckable>Private</label>
			<label class="btn btn-success" ng-model="asex.visibility" uib-btn-radio="'Protected'" uncheckable>Protected</label>
			<label class="btn btn-success" ng-model="asex.visibility" uib-btn-radio="'Public'" uncheckable>Public</label>
		</div>
		
		<h1>Atrracted</h1>
		<img src="dist/img/orientation.jpg">
		<div><uib-rating ng-model="attracted.value" max="7" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="custom-icons-1"></uib-rating> <b>(<i>Rate:</i> {{attracted.value}})</b></div>
		<div class="btn-group">
			<label class="btn btn-success" ng-model="attracted.visibility" uib-btn-radio="'Private'" uncheckable>Private</label>
			<label class="btn btn-success" ng-model="attracted.visibility" uib-btn-radio="'Protected'" uncheckable>Protected</label>
			<label class="btn btn-success" ng-model="attracted.visibility" uib-btn-radio="'Public'" uncheckable>Public</label>
		</div>
		<br>
		<button type="submit" class="btn btn-success">Submit</button>
	</form>
<!--    
			gerderbread_identity_visibility
			gerderbread_experssion_visibility
			gerderbread_asex_visibility
			gerderbread_attracted_visibility
 --> 
	</div>
</div>
