<div class="row" flow-init>
	<div class="col-lg-3">
		<!--Netwoks & up upload -->
		<span class="btn" flow-btn flow-attrs="{accept:'image/*'}">Upload File</span>
		<uib-accordion>
			<uib-accordion-group heading="Friends" is-open="true">
					<ul>
						<li>
							OBJECT MEDIA CON NG-REPET
						</li>
					</ul> 
			</uib-accordion-group>
			<uib-accordion-group heading="Networks">
					<ul>
						<li>
							object media con ng-repet
						</li>
					</ul>
			</uib-accordion-group>
		</uib-accordion>
	</div>
	<div class="col-lg-9">
		<!-- Owner galery -->
		inyectar el line aca

    <i class="fa fa-battery-quarter"></i>


		<div class="thumbnail" ng-repeat="file in $flow.files">
			<img flow-img="file" class="img-responsive">
			   <uib-progressbar max="100" value="100"></uib-progressbar>
		</div>
	</div>
</div>