<div class="row">
  <div class="col-lg-2">
    <!--Netwoks & Upload Componets-->
      <uib-accordion-group heading="Friends" is-open="true">
          <ul>
            <li>
              OBJECT MEDIA CON NG-REPET
            </li>
          </ul> 
      </uib-accordion-group>
      <uib-accordion-group heading="Networks">
          <ul>
            <li>
              object media con ng-repet
            </li>
          </ul>
      </uib-accordion-group>
  </div>
  <div class="col-lg-1">
    <!-- Margin -->
  </div>
	<div class="col-lg-9">	
  	<!-- LayoutComplete Component of Packery
    about Owner galery -->
		inyectar el line aca
	</div>
</div>