<div class="row">
	<div class="col-lg-3">
		<!--Netwoks & up upload -->
    	<uib-accordion-group heading="Friends" is-open="true">
      		<ul>
      			<li>
      				OBJECT MEDIA CON NG-REPET
      			</li>
      		</ul> 
   		</uib-accordion-group>
    	<uib-accordion-group heading="Networks">
      		<ul>
      			<li>
      				object media con ng-repet
      			</li>
      		</ul>
    	</uib-accordion-group>
	</div>
	<div class="col-lg-9">
		<!-- Owner galery -->
		inyectar el line aca
	</div>
</div>