<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-3">
		<h2>Lorem ipsum dolor </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eos aliquam ullam excepturi quam, cumque laborum assumenda earum pariatur suscipit omnis non voluptate alias hic, expedita ducimus, consectetur labore nisi.</p>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
		<ul class="nav nav-pills">
			<li class="active">
				<a href>Loging</a>
			</li>
			<li>
				<a href>Sign Up</a>
			</li>
		</ul>
	</div>
	<div class="col-md-2">
	</div>
</div>
	