<div class="row">
	<h1 class="text-center box">What's up, doc?</h1>	
</div>
<div class="row">
	<!-- LayoutComplete Component of Packery -->
	   	<div class="packery">
			<div class="item z1"><img src="images/c320.jpeg"></div>
			<div class="item z2"><img src="images/c321.jpeg"></div>
			<div class="item z1"><img src="images/c323.jpeg"></div>
			<div class="item z2"><img src="images/c324.jpeg"></div>

			<div class="item z3"><img src="images/c325.jpeg"><div class="border3">q</div></div>
			
			<div class="item z1"><img src="images/c326.jpeg"></div>
			<div class="item z2"><img src="images/c327.jpeg"></div>
			<div class="item z3"><img src="images/c328.jpeg"></div>
			<div class="item z1"><img src="images/c329.jpeg"></div>
			<div class="item z2"><img src="images/c330.jpeg"></div>
			<div class="item z3"><img src="images/c331.jpeg"></div>
			<div class="item z1"><img src="images/c332.jpeg"></div>
			<div class="item z2"><img src="images/c333.jpeg"></div>
			<div class="item z3"><img src="images/c334.jpeg"></div>
			<div class="item z1"><img src="images/c335.jpeg"></div>
			<div class="item z2"><img src="images/c336.jpeg"></div>
			<div class="item z3"><img src="images/c337.jpeg"></div>
			<div class="item z1"><img src="images/c338.jpeg"></div>
			<div class="item z2"><img src="images/c339.jpeg"></div>
		</div>
</div>

<script type="text/javascript" src="dist/js/layout.js"></script>