<div class="row">
	<div class="col-lg-1">
		<!-- Margin -->
	</div>
	<div class="col-lg-6">
		<!-- Form Area -->
	</div>
	<div class="col-lg-4">
		<!-- Photos Area -->
	</div>
	<div class="col-lg-1">
		<!-- Margin -->
	</div>
</div>

<div class="row">
	<!-- LayoutComplete Component of Packery -->
		<h1>Packery demo - layoutComplete event</h1>
	   	<p>Resize browser or click item to toggle size</p>
	   	<p>Open Developer Console to view event logs.</p>
	   	<div class="packery">
			<div class="item z1"><img src="http://placekitten.com/600/320"></div>
			<div class="item z2"><img src="http://placekitten.com/600/321"></div>
			<div class="item z3"><img src="http://placekitten.com/600/322"></div>
			<div class="item z1"><img src="http://placekitten.com/600/323"></div>
			<div class="item z2"><img src="http://placekitten.com/600/324"></div>
			<div class="item z3"><img src="http://placekitten.com/600/325"></div>
			<div class="item z1"><img src="http://placekitten.com/600/326"></div>
			<div class="item z2"><img src="http://placekitten.com/600/327"></div>
			<div class="item z3"><img src="http://placekitten.com/600/328"></div>
			<div class="item z1"><img src="http://placekitten.com/600/329"></div>
			<div class="item z2"><img src="http://placekitten.com/600/330"></div>
			<div class="item z3"><img src="http://placekitten.com/600/331"></div>
			<div class="item z1"><img src="http://placekitten.com/600/332"></div>
			<div class="item z2"><img src="http://placekitten.com/600/333"></div>
			<div class="item z3"><img src="http://placekitten.com/600/334"></div>
			<div class="item z1"><img src="http://placekitten.com/600/335"></div>
			<div class="item z2"><img src="http://placekitten.com/600/336"></div>
			<div class="item z3"><img src="http://placekitten.com/600/337"></div>
			<div class="item z1"><img src="http://placekitten.com/600/338"></div>
			<div class="item z2"><img src="http://placekitten.com/600/339"></div>
		</div>
</div>

<script type="text/javascript" src="dist/js/layout.js"></script>