<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-3">
		<h2>Lorem ipsum dolor </h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eos aliquam ullam excepturi quam, cumque laborum assumenda earum pariatur suscipit omnis non voluptate alias hic, expedita ducimus, consectetur labore nisi.</p>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-4">
		<uib-tabset>
			<uib-tab ng-repeat="tab in menu" heading="{{tab.header}}">
				<ng-include src="tab.view"></ng-include>
			</uib-tab>
		</uib-tabset>
	</div>
</div>
	