<div class="form">
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" placeholder="Username">    
    </div>
    
    <div class="form-group">
        <label for="email">Email</label> 
        <input type="text" class="form-control" id="email" placeholder="Email">
    </div>
    
    <div class="form-group">
        <label for="lastname">Label</label>
        <input type="text" class="form-control" id="lastname" placeholder="Lastname">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" palceholder="Password">        
    </div>

    <div class="form-group">
        <label for="passwordRepeat">Password Repeat</label>
        <input type="text" class="form-control" 
           id="passwordRepeat" palceholder="PasswordRepeat">        
    </div>
    
    
    <div class="form-group">
        <label for="data_of_birth">Data of Birth</label>
        <input type="text" class="form-control" 
            id="data_of_birth" placeholder="data_of_birth">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</div>
