<div class="row">
  <h1 class="text-center box">Packery demo - layoutComplete event</h1>
</div>
<div class="row">
  <div class="col-lg-9">
    <!-- removeComplete Component of Packery -->
    <div class="packery">
		<div class="item z1"><img src="images/c320.jpeg"></div>
		<div class="item z2"><img src="images/c321.jpeg"></div>
		<div class="item z3"><img src="images/c322.jpeg"></div>
		<div class="item z1"><img src="images/c323.jpeg"></div>
		<div class="item z2"><img src="images/c324.jpeg"></div>
		<div class="item z3"><img src="images/c325.jpeg"></div>
		<div class="item z1"><img src="images/c326.jpeg"></div>
		<div class="item z2"><img src="images/c327.jpeg"></div>
		<div class="item z3"><img src="images/c328.jpeg"></div>
		<div class="item z1"><img src="images/c329.jpeg"></div>
		<div class="item z2"><img src="images/c330.jpeg"></div>
		<div class="item z3"><img src="images/c331.jpeg"></div>
		<div class="item z1"><img src="images/c332.jpeg"></div>
		<div class="item z2"><img src="images/c333.jpeg"></div>
		<div class="item z3"><img src="images/c334.jpeg"></div>
		<div class="item z1"><img src="images/c335.jpeg"></div>
		<div class="item z2"><img src="images/c336.jpeg"></div>
		<div class="item z3"><img src="images/c337.jpeg"></div>
		<div class="item z1"><img src="images/c338.jpeg"></div>
		<div class="item z2"><img src="images/c339.jpeg"></div>
	</div>
  </div>
  <div class="col-lg-1">
    <!-- Margin -->
  </div>
  <div class="col-lg-2">
    <!-- Thumbnail of network -->

  <h4>Asynchronous results</h4>
    <input type="text" ng-model="selected" placeholder="Username" uib-typeahead="user for user in getUser($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
    <button ng-click="add()" class="btn btn-default">Add</button>
    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>
  <!-- Localizacion del botton en disable de agregar amigo-->
  <div class="list-group">
    <button type="button" class="list-group-item" ng-repeat="added in added">{{added}}</button>
  </div>

<!-- La llamada asincronica de la linea 36 debe compararse con la tabla user el campo username, de conseguir aciertos habilitar boton de agregar amigos. Cuando se presiones le boton se crea un nuevo  ui-tab con heding y label del nombre del nuevo amigo a mostrar-->
<script type="text/javascript" src="dist/js/layout.js"></script>