<div class="row">
  <div class="col-lg-9">
    <!-- removeComplete Component of Packery -->
    <div class="packery">
		<div class="item z1"><img src="http://placekitten.com/600/340"></div>
		<div class="item z2"><img src="http://placekitten.com/600/341"></div>
		<div class="item z3"><img src="http://placekitten.com/600/342"></div>
		<div class="item z1"><img src="http://placekitten.com/600/343"></div>
		<div class="item z2"><img src="http://placekitten.com/600/344"></div>
		<div class="item z3"><img src="http://placekitten.com/600/345"></div>
		<div class="item z1"><img src="http://placekitten.com/600/346"></div>
		<div class="item z2"><img src="http://placekitten.com/600/347"></div>
		<div class="item z3"><img src="http://placekitten.com/600/348"></div>
		<div class="item z1"><img src="http://placekitten.com/600/349"></div>
		<div class="item z2"><img src="http://placekitten.com/600/350"></div>
		<div class="item z3"><img src="http://placekitten.com/600/351"></div>
		<div class="item z1"><img src="http://placekitten.com/600/352"></div>
		<div class="item z2"><img src="http://placekitten.com/600/353"></div>
		<div class="item z3"><img src="http://placekitten.com/600/354"></div>
		<div class="item z1"><img src="http://placekitten.com/600/355"></div>
		<div class="item z2"><img src="http://placekitten.com/600/356"></div>
		<div class="item z3"><img src="http://placekitten.com/600/357"></div>
		<div class="item z1"><img src="http://placekitten.com/600/358"></div>
		<div class="item z2"><img src="http://placekitten.com/600/359"></div>
	</div>
  </div>
  <div class="col-lg-1">
    <!-- Margin -->
  </div>
  <div class="col-lg-2">
    <!-- Thumbnail of network -->
  </div>
</div>

<script type="text/javascript" src="dist/js/layout.js"></script>